html {
  box-sizing: border-box;
}

* {
  font-family: Montserrat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-width: 320px;
  scroll-behavior: smooth;
 }

body {
  line-height: 1;
  position: relative;
  margin: 0;
  scroll-behavior: smooth;
  font-size: inherit;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

[class*="__container"] {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*="__parrent"] {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}