:root {
  --background-body: #1D1037;
  --color-1: #FFF;
  --color-2: #F2F6FA;
  --color-3: #2E363E;
  --color-4: #FED84C;
  --color-5: #434B53;
  --color-6: #e4ba22;
  --color-7: #5D6AFB;
  --color-8: #2e363e00;
  --color-9: #f2f6fa95;
  --color-10: #7E868E;
  --color-11: #929AA2;
  --color-12: #081130;
  --color-14: #08113078;
  --color-15: #08113000;
  --color-16: #c2c6d033;
  --color-17: #4A94FF;
  --color-18: #A6AEB6;
  --color-19: #ff2400;
}